* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 25px;
    margin: 25px;
    width: 200px;
    border: 20px solid blue;
    background-color: aqua;
}

.container > div {
    text-align: center;
}