* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul > li {
    text-decoration: none;
    list-style-type: none;
}

ul > li > a {
    text-decoration: none;
}

.header {
    height: 70px;
    display: flex;
}

.header > h1:first-child {
    color: white;
}
.container {
    width: 960px;
    background-color: #facfcf;
}

.nav-bar {
    display: flex;
    background-color: #420000;
    display: inline-block;
}

.nav-bar > ul {
    display: flex;
    width: 960px;
    height: 30px;
}

.nav-bar > ul > li > a {
    color: white;
    padding: 0 50px;
}

.header > div > ul {
    display: flex;
    list-style-type: none;
}


.sidebar {
    background-color:  #9d6f68;
    width: 204px;
}

.sidebar > ul > li {
    padding: 15px 5px;
}

.sidebar > ul > li > a {
    color: white;
}

.flex {
    display: flex;
}

.content {
    width: 756px;
    padding-left: 10px;
}

.content > div:first-child > p {
    margin: 10px 0;
    font-weight: bold;
    font-size: 25px;
}

.content > div:nth-child(2) > p:nth-child(1) {
    font-weight: bold;
    margin: 20px 0;
}

.content > div:nth-child(3) > p:nth-child(1) {
    font-weight: bold;
    margin: 20px 0;
}

.content > div:nth-child(4) > p:nth-child(1) {
    font-weight: bold;
    margin: 20px 0;
}

footer {
    text-align: center;
    color: white;
}